
.container{
    /* background-color: bisque; */
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
       
    
   }
   .tile:hover{
       background-color: rgb(236, 200, 236);
   }
   .tictac{
       /* position: absolute; */
       /* margin-left: 200px; */
       display:grid;
       grid-template-columns:repeat(3,10vw);
       grid-template-rows:repeat(3,10vw);
       font-family: 'Roboto', sans-serif;
       
       
      
                     
   }
   .tile{
      /* background: rgba(8, 250, 206, 0.883); */
      border: 1px solid black;
       display: flex;
       justify-content: center;
      align-items: center;
      /* text-align: center; */
      font-size: 8vw;
      cursor: pointer;
   
   
       /* align-content: center; */
   }
   .br-0{
       border-right: 0;
   }
   .bl-0{
       border-left: 0;
   }
   .bt-0{
       border-top: 0;
   }
   .bb-0{
       border-bottom: 0;
   }
   button{
       width: 100px;
       height:35px;
       font-size: 22px;
       border-radius: 15px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       cursor: pointer;
   }
   h1{
       font-family: 'Roboto', sans-serif; 
   }
   button:hover{
       width:140px;
       height:40px;
       background:rgb(244, 212, 244); 
   }
   .score{
      
       width:200px;
       height: 40px;
       font-size: 23px;
       font-family:'Roboto', sans-serif; 
       margin-left: 590px; 
       
   }
   .turn{
       font-size: 23px;
   }
   .btn{
    /* background-color: aqua; */
    width:500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
   }